html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rosybrown;
}
.parent{
height: 40%;
width: 35%;
background-color: burlywood;
border: 1px solid black;
position: relative;
top: 150px;
left:400px;
}
.child{
    height: 30%;
    width: 35%;
    background-color: blueviolet;
    border: 1px solid black;
    position: absolute;
    top:40px;
    left: 40px;
}
.chatbot{
    height: 100px;
    width: 100px;
    background-color: azure;
    margin:40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
     opacity: 0.7;
    border-radius: 50%;
    position: fixed;
    right: 0; 
    bottom: 0;
    display: flex;
}
.stick{
    height: 10%;
    width: 100%;
    background-color: palegreen;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: flex;
    position: sticky;
    top: 100px;
    left: 50px;

}
